---
import Image from '~/components/common/Image.astro';

const { image } = Astro.props;

// Detect GIF when "image.src" ends with .gif
//const isGif = typeof image === 'object' && image.src?.toLowerCase().endsWith('.gif');
const isGif =
  typeof image === 'object' &&
  typeof image.src === 'string' &&
  image.src.toLowerCase().endsWith('.gif');
---

<section class="relative w-screen h-screen overflow-hidden not-prose">
  {
    image &&
      (typeof image === 'string' ? (
        <Fragment set:html={image} />
      ) : isGif ? (
        <img
          src={image.src}
          alt={image.alt || ''}
          class="absolute inset-0 w-full h-full object-cover"
        />
      ) : (
        <Image
          class="absolute inset-0 w-full h-full object-cover"
          widths={[400, 768, 1024, 2040]}
          sizes="100vw"
          loading="eager"
          {...image}
        />
      ))
  }
</section>